<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minha Homepage</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<header>
    <h1>Gerenciamento de Veículos</h1>
    <nav>
        <ul>
            <li><a href="/cars">Cadastro de Carros</a></li> <!-- Link para a segunda página -->
        </ul>
    </nav>
    <style>
        html {
            margin: 5% 5% 0 8%;
        }
        .table-container {
            height: 300px;
            overflow: scroll;
        }
    </style>
</header>
<main>
    <section id="sobre">
        <h2>Sobre Nós</h2>
        <p>Banco de dados utilizado para controle de estoque de nossos veículos.</p>
    </section>
    <section id="contato">
        <h2>Contato</h2>
        <p>github.com/edsolima</p>
    </section>
</main>
<footer>
    <p>&copy; 2024 Created by Ewerton</p>
</footer>
</body>
</html>
